input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.content{
    margin-top: 70px;  
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
    border-radius: 25px;
}


.list{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}



.product{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid rgba(51, 51, 51, .3);
}

.firstProduct{
    border-top: 1px solid rgba(51, 51, 51, .3);
}

.ilosc{
    flex: 1;
    display: flex;
}

.minus, .plus{
    cursor: default;
    width: 35px;
    height: 35px;
    border: none;

}

.input{
    width: 40px;
    text-align: center;
    border: none;
}

img{
    padding: 5px 15px 5px 0;
    width: 60px;
    height: 75px;
}

.productName{
    padding-left: 20px;
    display: flex;
    align-items: center;
    flex: 2;
}

h2, form a{
    font-size: 16px;
    margin: 0;
    color: #333;
}

h2:hover, form a:hover{
    color: #333;
    text-decoration: none;
}

.price{
    flex: 1;
}


.priceHld{
    flex: 1;
}

.amountHld{
    flex: 1;
    text-align: right;
    padding-right: 20px;
}

.delete{
    color: rgba(51, 51, 51, .5);
    position: absolute;
    right: -1.5%;
}

.delete2{
    color: rgba(51, 51, 51, .5);
    position: absolute;
    right: 3%;
}

.delete:hover, .delete2:hover{
    color: red;
}

.ree{
    display: flex;
    width: 100%;
}


.prName, .prPrice, .prQuan, .prAmount{
    font-size: 20px;
    padding-top: 10px;
    padding-left: 20px;
}

.prName{
    flex: 2;
}

.prPrice{
    flex:1;
}

.prQuan{
    flex: 1;
}

.prAmount{
    flex: 1;
    text-align: right;
    padding-right: 20px;
}


.buyBtn{
    margin-top: 100px;
    /* width: 40px; */
    padding: 10px 20px;
    font-size: 16px;
    position: absolute;
    background: green;
    border: none;
    color: #fff;
    border-radius: 25px;
    bottom: 5%;
    right: 1.5%;

}

.h1Total{
    text-align: right;
    font-size: 20px;
    padding: 20px 20px 80px 0;
}

.save{
    position: absolute;
    bottom: 5%;
    right: 18%;
    font-size: 16px;
    padding: 10px 20px;
    color: #fff;
    border-radius: 25px;
    background: #333;
}

.save:hover {
    color: white;
}

.empty{
    margin-top: 50px;
    color: #333;
}

.price, .priceHld, .amount, .amountHld{
    font-size: 16px;
    margin: 0;
}

.key{
    width: 100%;
    border: none;
    background: #eee;
    font-size: 15px;
    margin: 0;
}

.adminInput{
    padding: 10px 20px;
    margin-bottom: 50px;
}

.adminBtn{
    padding: 10px 20px;
}

.adminText{
    margin-bottom: 50px;
}

.adminID{
    flex: 2.1;
    margin: 0;
    font-size: 18px;
}


@media only screen and (max-width: 1380px) {

    /*    .nav,
        .content,
        .captions,
        .platforms,
        .posts,
        .posts2,
        .footerContent {
            flex-basis: 80%;
            width: 100px;
        }*/

    .content{
        flex-basis: 80%;
/*        width: 100vw;*/
    }

    #save22{
        position: absolute;
        right: 20%;
    }

}


