*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

.content{
    /* padding-top: 200px; */
    background: #EEE;
    /* width: 100vw; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}